@model IEnumerable<WebOptimus.Models.Audit>
@{
    ViewData["Title"] = "Audit History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Logs History</h1>
            </div><!-- /.col -->
          
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->


@if (Model.Count() > 0)
{
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-12 connectedSortable">
        <div class="card">
            <div class="card-header border-transparent" style="background-color: green; color: white;">
                <h3 class="card-title"> <strong> </strong></h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0 myTable" style="width: 100%;">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">
                                    @Html.DisplayNameFor(m => m.AuditID)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(m => m.Email)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(m => m.ActionType)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(m => m.ErrorType)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(m => m.ActionDesc)
                                </th>

                                <th class="text-center">
                                    @Html.DisplayNameFor(m => m.DateCreated)
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="text-center">

                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.AuditID)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.ActionType)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.ErrorType)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.ActionDesc)
                                    </td>

                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                    </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer -->
        </div>

    </section>
    <!-- right col -->
}
else
{
    <p>No record exists...</p>
}



@section scripts {
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    @* <script src="~/admin/js/table.js" asp-append-version="true"> </script> *@

    <script>
        $(document).ready(function () {
            $('.myTable').DataTable({
                "order": [[5, "desc"]],  // Sort by DateCreated (6th column) in descending order
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "responsive": true
            });
        });
    </script>
}