@model IEnumerable<WebOptimus.Models.Announcement>
@using WebOptimus.StaticVariables
@{
    ViewData["Announcement"] = "Announcement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Announcement</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">

                <a class="btn btn-outline-success float-md-right"asp-action="NewAnnouncement" asp-controller="Announcement"><i class="fas fa-plus"></i> Add New Announcement </a>
            </div><!-- /.col -->
            @*      <div class="col-sm-6">
            <a class="btn btn-xs btn-outline-primary float-md-right" style="width:100px;float:right; text-align: center;" onclick="@("window.location.href='" + @Url.Action("GetAnnouncementPdf", "Announcement") + "'");"><i class="far fa-file-pdf text-danger-m1 text-120 w-2"></i> Download </a>

            </div><!-- /.col --> *@
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
@if (TempData[SD.Error] != null)
{
    <div class="alert alert-danger">
        @TempData[SD.Error]
    </div>
}

@if (TempData[SD.Success] != null)
{
    <div class="alert alert-success">
        @TempData[SD.Success]
    </div>
}
@if (Model.Count() > 0)
{
    <table class="table table-bordered" id="myTable" style="width: 100%">
        <thead>
            <tr class="text-center">
                <th>Title</th>
                <th>Date</th>
                <th>Author</th>
                <th>Visible to Members</th>
                <th>Visible to Public</th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="text-center">

            @foreach (var item in Model)
            {
                <tr class="text-center">

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IsActiveToInternMember)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IsActiveToPublic)
                    </td>
                    <td style="white-space:nowrap">

                        <form asp-action="Delete" asp-route-id="@item.Id">
                            <a asp-action="EditAnnouncement" asp-route-id="@item.Id" Announcement="Edit" data-toggle="tooltip" style="cursor:pointer">
                                <i class="fas fa-edit"></i>
                            </a>

                            <button type="submit" onclick="return confirm('Are you sure you want to delete this?')"
                                    class="delete" Announcement="Delete" data-toggle="tooltip">
                                <i class="fas fa-trash" style="color:red;"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
}
else
{
    <p>No record exists...</p>
}

<style>
    table td {
        word-break: break-word;
        white-space: normal !important;
    }

    .centerme {
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>


<style>
 

    .delete {
        color: red;
    }

    .lock {
        color: green;
    }

    .unlock {
        color: red;
    }
</style>

@section scripts {
    <script src="~/admin/js/table.js" asp-append-version="true"></script>


}
